<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous"
  />
  <style>
    * {
      padding: 0%;
      margin: 0%;
      box-sizing: border-box;
    }

    html,
    body {
      width: 100%;
      background-color: rgb(255, 255, 255);
    }

    #left {
      height: 100vh;
      width: 100vw;
      background-color: rgb(255, 255, 255);
    }

    #box1 {
      display: flex;
      position: relative;
    }

    #adds {
      display: flex;

      height: 40%;
      width: 100%;
      position: relative;
      margin-top: 4%;
      background-color: rgb(0, 0, 0);
    }

    .food {
      margin-left: 1.5%;
      margin-top: 3%;
    }

    #foodlist {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin-left: 7%;
      margin-top: 4%;
      background-color: rgba(255, 255, 255, 0.212);
      border-radius: 12px;
      overflow: hidden;
    }

    .cards-list {
      z-index: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .card {
      margin: 30px auto;
      width: 300px;
      height: 400px;
      border-radius: 22px;
      cursor: pointer;
      transition: 0.4s;
      background-color: rgb(241, 241, 241);
      overflow: hidden;
    }

    .card .card_image {
      width: 100%;
      height: 60%;
      padding: 20px 20px;
      overflow: hidden;
    }

    .card .card_image img {
      height: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: 22px;
    }

    .card .card_title {
      border-radius: 0px 0px 40px 40px;
      font-family: sans-serif;
      font-size: 30px;
      margin-top: 0px;
      font-weight: 100;
      height: 40px;
      margin-left: 8%;
      color: rgb(94, 94, 94);
      font-size: 1.5vw;
    }

    #rating {
      position: relative;
      height: 3.4vh;
      width: 4vw;
      background-color: orange;
    }

    #rating h5 {
      position: absolute;
      right: 8%;
      top: 5%;
      color: whitesmoke;
    }

    #time {
      position: relative;
      left: 40%;
      top: -50%;
      color: whitesmoke;
      color: black;
    }

    #time h6 {
      font-size: 1vw;
      font-weight: 100;
    }

    #paisa {
      position: relative;
      height: 2vh;
      width: 4vw;
      left: 76%;
      top: -150%;
      color: whitesmoke;
      color: black;
    }

    #paisa h6 {
      font-size: 1.1vw;
      font-weight: 100;
    }

    .card .card_title h6 {
      border-radius: 0px 0px 40px 40px;
      font-family: sans-serif;
      font-size: 30px;
      margin-top: 0px;
      font-weight: 100;
      height: 40px;

      color: rgb(128, 128, 128);
      font-size: 1.2vw;
    }

    #line {
      /* height: 0.1vh; */
      border-top: 1px solid black;
      margin-top: -18%;
      width: 90%;

      /* background-color: rgb(199, 199, 199); */
    }

    #welcome {
      font-size: 0.9vw;
      margin-top: 5%;
      text-align: center;
    }

    #welcome a {
      text-decoration: none;
      margin-right: 8%;
    }

    .card:hover {
      transform: scale(0.9, 0.9);
      border: 1px solid rgb(255, 255, 255);
    }

    .title-white {
      color: white;
    }

    .title-black {
      color: black;
    }

    @media all and (max-width: 500px) {
      .card-list {
        flex-direction: column;
      }
    }

    nav {
      position: fixed;
      height: 8vh;
      top: 0%;
      width: 100%;
      z-index: 2;
      display: flex;
      background-color: rgb(255, 255, 255);
    }

    #lef {
      height: 100%;
      width: 50%;
    }

    #lef h1 {
      font-size: 1.6vw;
      font-family: roboto black;
      color: rgb(53, 0, 0);

      margin-left: 21%;
      margin-top: 2.3%;
    }

    #lef a {
      text-decoration: none;
      color: rgb(53, 0, 0);
    }

    #righ {
      margin-left: 13%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
    }

    #righ a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-family: okra light;
      margin-left: 6%;
      margin-top: -0%;
      font-weight: 1000;
    }

    #righ svg {
      margin-left: 4%;
    }

    #add {
      position: absolute;
      top: 10%;

      height: 80%;
      width: 20%;
      background-color: red;
      border-radius: 22px;
      overflow: hidden;
      margin-left: 9%;
    }

    #add img {
      height: 100%;
      width: 100%;
    }

    #add1 {
      position: absolute;
      top: 10%;
      left: 30%;
      height: 80%;
      width: 20%;
      background-color: red;
      border-radius: 22px;
      overflow: hidden;
    }

    #add1 img {
      height: 100%;
      width: 100%;
    }
    a {
      text-decoration: none;
    }

    #add2 {
      position: absolute;
      top: 10%;
      left: 51%;
      height: 80%;
      width: 20%;
      background-color: red;
      border-radius: 22px;
      overflow: hidden;
    }

    #add2 img {
      height: 100%;
      width: 100%;
    }

    #add3 {
      position: absolute;
      top: 10%;
      left: 72%;
      height: 80%;
      width: 20%;
      background-color: red;
      border-radius: 22px;
      overflow: hidden;
    }

    #add3 img {
      height: 100%;
      width: 100%;
    }

    #lef input {
      position: absolute;
      top: 22%;
      left: 15%;
      height: 5vh;
      width: 26vw;
      padding: 0 15px;
      border-radius: 22px;
      border: 1px solid orange;
      z-index: 2;
    }

    .searchbox {
      position: absolute;
      top: 52%;
      left: 15%;
      min-height: 0vh;
      width: 26vw;
      border: 1px solid grey;
      border-top: none;
      background-color: white;
      z-index: 0;
      display: flex;
      flex-direction: column;
    }

    .singlefood {
      padding: 0 15px;
      border-bottom: 1px solid #dadada;
    }

    .singlefood:nth-child(1) {
      margin-top: 22px;
    }

    .singlefood:hover {
      cursor: pointer;
      background-color: #dadada;
    }
    input.search,
    span {
      margin-top: 20px;
    }

    input.search {
      margin-left: 20px;
    }

    ul.list {
      padding: 0;
      list-style: none;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 20px;
    }

    .list li {
      padding: 10px 20px;
    }

    .list li + li {
      border-top: 1px solid #ccc;
    }
  </style>

  <body>
    <div id="main">
      <nav>
        <div id="lef">
          <a href="/">
            <h1 style="color: orange">KiKi</h1>
          </a>
          <input
            class="foodname"
            type="search"
            placeholder="Search for foods"
          />
          <div class="searchbox"></div>
        </div>
        <div id="righ">
          <a href="/res">ADD RESTURANT</a>
          <a href="/uploadfood">UPLOAD FOODS</a>
          <a href="/cart">CART</a>
          <a href="/logout">LOGOUT</a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976zM12 11a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm-4.473 5h8.946a4.5 4.5 0 0 0-8.946 0z"
              fill="rgba(255,255,255,1)"
            />
          </svg>
        </div>
      </nav>
      <div id="box1">
        <div id="left">
          <div id="adds">
            <div id="add">
              <img
                src="https://i.pinimg.com/originals/fb/ff/3c/fbff3c813382a2c474538578ed7e502b.jpg"
                alt=""
              />
            </div>
            <div id="add1">
              <img
                src="https://i.pinimg.com/564x/d3/2f/b1/d32fb13fa0784e1d44d51fc8ea1e4013.jpg"
                alt=""
              />
            </div>
            <div id="add2">
              <img
                src="https://i.pinimg.com/564x/b0/be/47/b0be470b38b8b710f223aff3cfec4833.jpg"
                alt=""
              />
            </div>
            <div id="add3">
              <img
                src="https://i.pinimg.com/564x/ec/52/76/ec5276f89dba2df160576200f7408436.jpg"
                alt=""
              />
            </div>
          </div>

          <section>
            <div id="hacker-list">
              <div class="form-inline">
                <!-- The search class allows List.js to search through the list -->
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Search"
                    class="search form-control"
                  />
                </div>

                <!-- The sort class allows List.js to sort the list depending on the value of the data-sort attribute assigned to the element -->
                <div class="form-group">
                  <span class="sort btn btn-default" data-sort="name"
                    >Sort by Name</span
                  >
                  <span class="sort btn btn-default" data-sort="city"
                    >Sort by City</span
                  >
                </div>

                <!-- The filter buttons -->
                <div class="form-group">
                  <span id="filter" class="btn btn-default"
                    >Show People in Edmonton (Filter)</span
                  >
                  <span id="removeFilters" class="btn btn-default"
                    >Remove Filters</span
                  >
                </div>
              </div>

              <ul class="list">
                <li>
                  <h4 class="name">Abraham</h4>
                  <p class="city">Stockholm</p>
                </li>
                <li>
                  <h4 class="name">Jonas</h4>
                  <p class="city">Berlin</p>
                </li>
                <li>
                  <h4 class="name">Bob</h4>
                  <p class="city">Edmonton</p>
                </li>
                <li>
                  <h4 class="name">Hulk</h4>
                  <p class="city">Calgary</p>
                </li>
                <li>
                  <h4 class="name">Daniel</h4>
                  <p class="city">New York</p>
                </li>
                <li>
                  <h4 class="name">Susan</h4>
                  <p class="city">Edmonton</p>
                </li>
              </ul>
            </div>
          </section>

          <div id="foodlist">
            <% order.forEach(function(elem){ %>
            <div class="food">
              <div class="cards-list">
                <div class="card 1">
                  <div class="card_image">
                    <img src="../images/<%= elem.foodImage %>" />
                  </div>
                  <div class="card_title title-white">
                    <p><%= elem.foodName %></p>
                    <h6><%= elem.founduser %></h6>
                    <div id="rating">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="24"
                        height="24"
                      >
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                          d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"
                          fill="rgba(255,255,255,1)"
                        />
                      </svg>
                      <h5><%= elem.foodRating %></h5>
                    </div>
                    <div id="time">
                      <h6>
                        <% if(elem.foodTime > 59){ %> <%=
                        Math.floor(elem.foodTime / 60) %> hr. <%=
                        Math.floor(elem.foodTime % 60) %> mins <% }else{ %> <%=
                        elem.foodTime %> mins <% } %>
                      </h6>
                    </div>
                    <div id="paisa">
                      <h6>₹<%= elem.foodPrice %></h6>
                    </div>
                    <% if(user.indexOf(elem._id) === -1){ %>
                    <a href="/addToCart/<%= elem._id %>">
                      <div id="line">
                        <h5 style="color: rgb(0, 0, 208)" id="welcome">
                          ADD TO CART
                        </h5>
                      </div>
                    </a>
                    <% }else{ %>
                    <a href="/cart/dec/<%= elem._id %>">
                      <div id="line">
                        <h5 style="color: red" id="welcome">REMOVE TO CART</h5>
                      </div>
                    </a>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
      integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script>
      (function filterkrlo() {
        var options = {
          valueNames: ["name", "city"],
        };
        var hackerList = new List("hacker-list", options);

        // Assigning references to the filter buttons
        var filterCityButton = document.getElementById("filter");
        var removeFiltersButton = document.getElementById("removeFilters");

        // When the filter button is clicked. The list is filtered by calling the filter function of the list object and passing in a function that accepts the list items.
        filterCityButton.addEventListener("click", function () {
          hackerList.filter(function (item) {
            if (item.values().city == "Edmonton") {
              return true;
            } else {
              return false;
            }
          }); // Only items that have Edmonton as the city.
        });

        // When the remove filter button is clicked, the filters are removed by calling the filter function once again with no parameters.
        removeFiltersButton.addEventListener("click", function () {
          hackerList.filter();
        });
      })();

      var foodname = document.querySelector(".foodname");
      var searchbox = document.querySelector(".searchbox");
      foodname.addEventListener("keyup", function (e) {
        var foodname = document.querySelector(".foodname").value;
        if (foodname.length > 0) {
          axios.get("/food/" + foodname).then(function (response) {
            searchbox.innerHTML = ``;

            response.data.foundfood.forEach((elem) => {
              console.log(response);
              if (response.data.foundfood.indexOf(elem) != -1) {
                searchbox.innerHTML += `
                                <a class="singlefood" href="/searchfood/${elem}">
                                    <span>
                                        ${elem}
                                    </span>
                                </a>`;
              }
            });
          });
        } else {
          searchbox.innerHTML = "";
        }
      });

      function addToCart(id) {
        axios.get("/addToCart/" + id).then(function (response) {
          console.log(response.data);
        });
      }
    </script>
  </body>
</html>
